/*@font-face {
    font-family: preethika;
    src: url("./Roboto/Roboto-BlackItalic.ttf") format("ttf");
}*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*body style*/

body{
      color: white;
      font-family: Roboto;
}


/* header style*/

.header-container{

    display: flex;
    justify-content: space-between;
    color: white;
    z-index: 1000;
}

.nav{
    margin-top: 20px;   
}
.nav li{
    list-style-type: none;
    display: inline;
    padding: 10px;
    margin-left: 5px;
    margin-top: 10px;
    border: 2px solid white;
    background-color: rgb(52, 50, 50);
}

.nav a{
    text-decoration: none;
    color: white;
}

/*NOVA content style*/

.main-content{
    margin-top: 300px;
    margin-left: 30px;
    position: relative;
    width: 30%; 
    word-spacing:10px;

}

.work-with-nova button{

    background-color:rgba(254, 248, 248,0.811) ;
    border: 2px soild ;
    padding: 10px 25px;
    
}
.work-with-nova mark{
    background-color: white;
}

.nova-content h1{
    font-size: 40px;
}

.nova-content p{
    line-height: 1.5;
    padding-bottom: 10px;
}

/*portfolio styling*/
.main-gallary{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 50px;
    gap: 30px;


}

.main-gallary img{
    width: 100%;
    height: 250px;
    
}

/*About us page style*/
.main-about{
    display: flex;
    margin: 30px;
    margin-top: 100px;
    
}
.about-heading{
    width: 50%;
    height: 100%;
    margin-left: 40px;

}
.about-heading .I-am-a{
    font-size: 30px;
}
.about-heading .topic{
    font-size: 70px;

}

 .about{
    width: 50%;
    height: 100%;
    margin-right: 100px;

}
.about p{
    padding-bottom: 20px;
    line-height: 1.6;
   
}
.about button{
    padding: 10px 100px;
    font-weight: bolder;
    
}
/*contact page style */

.main-contact{
    
    margin-top:100px;
    margin-left: 300px;

}
.main-contact h1{
    justify-content: flex-start;
}

.main-form{
    background-color:rgb(58, 58, 58);
    width: 60%;
    padding: 40px;

}
.main-form input{
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    background-color:rgb(58, 58, 58) ;
}
.main-form .button{
 background-color: white;
 margin-left:550px;
 width: 200px;
 padding: 10px ;
 font-weight: bold;
}
.social-icon{
    
    padding: 10px;
    margin-left: 690px;
}
.social-icon i{

    padding: 5px;
    font-size: 30px;
}

/*service page design*/
.service-container{
    margin-top: 100px;
    display: flex;
    padding: 20px;
    justify-content: space-between;

}
.what-i-do{
    padding:0px 20px;
    font-size: 30px;

}
.service-content{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 70%;
    gap:30px;
    border-bottom: 4px solid white;
}
.content{
    flex-basis: 30%;
    padding: 20px;
}
.work-with-nova-button{
    text-align: end;
    padding: 10px 40px;
}
.work-with-nova-button button{
    padding: 10px 40px;
    font-weight: bold ;
}



